.cart-page{
    background-image: url(./img/cart-page.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 64px;

    &__title{
    color:#fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    padding: 127px 0;
    }
}

.cart{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    &__content{
        grid-column: 1/9;
    }

    &__head-box{
        display: flex;
        justify-content: space-between;
        padding: 0 27px 14px 3px;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 25px;
        padding-bottom: 32px;
        border-top: 1px solid #CACDD8;
    }

    &__main{
        display: flex;
        gap: 32px;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #000;
        max-width: 276px;
    }

    &__name{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__subtitle{
        color: #888;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__link-box{
        display: flex;
        gap: 30px;
    }

    &__link{
        color: #000;

        &:hover{
        text-decoration: none;
        color: #888;
        }
    }

    &__count{
        width: 71px;
        height: 51px;
        text-align: center;
        border-radius: 6px;
        background: #F7F6F6;
        border: 1px solid #F7F6F6;
    }

    &__button-box{
        margin-top: 18px;
        display: flex;
        gap: 7px;
    }

    &__btn{
        padding: 10px 33px;
        border-radius: 50px;
        background-color: #fff;
        border: 1px solid #000;
        text-decoration: none;
        color: #000;
    }
    
    &__form{
        grid-column: 9/13;
            padding: 42px 30px;
        background-color: #F7F6F6;
        border-radius: 20px;
    }

    &__form-title{
        color: #000;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__form-list{
        margin-top: 40px;
    }

    &__form-item{
    background-color: #F7F6F6;
    width: 100%;
    border: none;
    border-bottom: 2px solid #CACDD8;
    margin: 20px 0;
    outline: none;

    &::placeholder{
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
    }

    &__form-result{
        margin-top: 44px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
    }

    &__form-btn{
        border-radius: 20px;
        border: 1px solid #040404;
        padding: 10px;
        width: 100%;
        background-color: #F7F6F6;
    }
}