.catalog-page{
    background-image: url(./img/catalog-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 64px;
}

.catalog-page__title{
    color:#fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    padding: 127px 0;
}

.product-box__filters{
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs{
    list-style-type: none;
    display: flex;
}

.breadcrumbs__link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.breadcrumbs__link::after{
    content: '/';
    padding: 0 10px;
}

.breadcrumbs__link:hover{
    color: #888;
}

.filters-box{
    display: flex;
    gap: 10px;
}

.filters-box__list{
    position: relative;
}

.filters-box__list{
    appearance: none;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    padding: 10px 54px 10px 23px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='9' viewBox='0 0 18 9' fill='none'%3E%3Cpath d='M8.66028 8.25L2.36094e-05 -1.63133e-06L17.3205 -1.17124e-07L8.66028 8.25Z' fill='black'/%3E%3C/svg%3E");
    background-position: calc(100% - 20px);
    background-repeat: no-repeat;
    color: #000;
    outline: none;
}

.filters-box__list:hover{
    font-weight: 500;
}

.catalog-form{
    position: absolute;
    top: 54px;
    right: 0;
    width: 526px;
    min-height: 548px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);

    &__box{
        display: grid;
        gap: 65px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__box-left{
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    &__items{
        text-align: left;
    }

    &__items_row{
        display: grid;
    }

    &__subtitle{
        color: #050505;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 16px;
    }

    &__subtitle_row{
        grid-column: 1/8;
    }

    &__label, &__label-radio{
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__radio-box, &__checkbox-box{
        padding-bottom: 14px;
    }

}