.catalog-page{
    background-image: url(./img/catalog-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 64px;
}

.catalog-page__title{
    color:#fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    padding: 127px 0;
}

.product-box__nav{
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs{
    list-style-type: none;
    display: flex;
}

.breadcrumbs__link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.breadcrumbs__link::after{
    content: '/';
    padding: 0 10px;
}

.breadcrumbs__link:hover{
    color: #888;
}

.filters-box{
    display: flex;
    gap: 10px;
}

.filter-box__filter{
    position: relative;
}

.button{
    appearance: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    text-align: center;
    font-style: normal;
    line-height: normal;
    outline: none;
    background: none;
    padding: 10px 0;
}

.filter-btn{
    border: 1px solid #c4c4c4;
    padding-left: 23px;
    padding-right: 54px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='9' viewBox='0 0 18 9' fill='none'%3E%3Cpath d='M8.66028 8.25L2.36094e-05 -1.63133e-06L17.3205 -1.17124e-07L8.66028 8.25Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
}

.filter-form{
    position: absolute;
    top:calc(100% + 14px);
    right: 0;
    min-width: 526px;
}

.filter-form__box{
    background: #fff;
    box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
}

.filter-form__left{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.filter-form__items{
  border: none;
}

.filter-form__items_column{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filter-form__item-title{
  margin-bottom: 14px;
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-form__item{
  position: relative;
}

.filter-form__input{
  position: absolute;
  opacity: 0;
/*   pointer-events: none; */
}

.filter-form__label{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.filter-form__label_padding{
  padding-left: 29px;
}

.filter-form__label::before{
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.filter-form__label_standart::before{
  border: 1px solid #888;
}

.filter-form__label_radio::before{
  border-radius: 50%;
}

.filter-form__input:checked + .filter-form__label::before{
  border: 1px solid #000;
}

.filter-form__input:checked + .filter-form__label::after{
  content: '';
  width: 4px;
  height: 5px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-70%) rotate(45deg);
}

.filter-form__subtitle-box{
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-form__range{
  position: relative;
  width: 100%;
}

.filter-form__range-track{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.filter-form__range-thumb{
  position: absolute;
  width: 100%;
  background: none;
  appearance: none;
}

.filter-form__range-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

.filter-form__items_row{
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
}

.filter-form__item-title_empty{
  margin-bottom: 29px;
}

.filter-form__checkbox_white::before{
  background: #fff;
}

.filter-form__checkbox_black::before{
  background: #000;
  border: 1px solid #000;
}

.filter-form__checkbox_grey::before{
  background: #737373;
  border: 1px solid #737373;
}

.filter-form__checkbox_red::before{
  background: #FF0000;
  border: 1px solid #FF0000;
}

.filter-form__checkbox_orange::before{
  background: #FF7A41;
  border: 1px solid #FF7A41;
}

.filter-form__checkbox_yellow::before{
  background: #F2CB01;
  border: 1px solid #F2CB01;
}

.filter-form__checkbox_green::before{
  background: #00BF2A;
  border: 1px solid #00BF2A;
}

.filter-form__checkbox_turquoise::before{
  background: #1CCC97;
  border: 1px solid #1CCC97;
}

.filter-form__checkbox_lightblue::before{
  background: #009FE3;
  border: 1px solid #009FE3;
}

.filter-form__checkbox_darktblue::before{
  background: #000AF8;
  border: 1px solid #000AF8;
}

.filter-form__checkbox_violet::before{
  background: #6710D6;
  border: 1px solid #6710D6;
}

.filter-form__checkbox_purple::before{
  background: #9D0DB5;
  border: 1px solid #9D0DB5;
}

.filter-form__checkbox_lilac::before{
  background: #D89AFF;
  border: 1px solid #D89AFF;
}

.filter-form__checkbox_pink::before{
  background: #FF65A6;
  border: 1px solid #FF65A6;
}

.filter-form__input:checked + .filter-form__checkbox_violet::after,
.filter-form__input:checked + .filter-form__checkbox_purple::after,
.filter-form__input:checked + .filter-form__checkbox_black::after,
.filter-form__input:checked + .filter-form__checkbox_grey::after,
.filter-form__input:checked + .filter-form__checkbox_darktblue::after{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.filter-form__btn{
  margin-top: 98px;
  border: 1px solid #040404;
  width: 100%;
  padding: 10px 0;
  background: #fff;
}