.catalog-page{
    background-image: url(./img/catalog-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 64px;
}

.catalog-page__title{
    color:#fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    padding: 127px 0;
}

.product-box__nav{
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs{
    list-style-type: none;
    display: flex;
}

.breadcrumbs__link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.breadcrumbs__link::after{
    content: '/';
    padding: 0 10px;
}

.breadcrumbs__link:hover{
    color: #888;
}

.filters-box{
    display: flex;
    gap: 10px;
}

