*{
    margin: 0;
    padding: 0;
}

.heading{
    min-height: 76px;
}

.menu__item {
    font-size: 16px;
    line-height: 20px;
}

.menu__link{
    text-decoration: none;
    color: #888888;
}

.menu__link:hover{
    text-decoration: underline;
}

.intro__header{
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
}

.intro__text{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.intro__link{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #888888;
}

.intro__link:hover{
    text-decoration: underline;
}

.sale__header{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}

.sale__name{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}

.sale__desc{
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.sale__discount{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.sale__price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

.footer__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footer__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.form__title{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.footer__link:hover{
    text-decoration: underline;
}

.form__email{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

.form__btn{
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}