@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a,
input,
button,
select {
  font-family: "Montserrat", Arial, Helvetica, serif;
}

.hero-page {
  background-image: url(./img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 64px;
}

.heading {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.heading__search {
  background: transparent;
  padding: 10px 32px;
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 16px;
  width: 288px;
  color: #fff;
  outline: none;
}

.heading__search::-webkit-input-placeholder {
  color: #fff;
}

.heading__search::-moz-placeholder {
  color: #fff;
}

.heading__search:-ms-input-placeholder {
  color: #fff;
}

.heading__search::-ms-input-placeholder {
  color: #fff;
}

.heading__search::placeholder {
  color: #fff;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.menu__link:hover {
  text-decoration: underline;
}

.intro {
  padding-top: 63px;
  padding-bottom: 374px;
  color: #fff;
  max-width: 792px;
}

.intro__header {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 16px;
}

.intro__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 16px;
}

.intro__link {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/*Мебель для...*/
/* .for{
    margin-bottom: 64px;
} */
.for__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 32px;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.for__item_big {
  grid-column: span 6;
}

.for__item1 {
  background-image: url(./img/for-1.jpg);
}

.for__item2 {
  background-image: url(./img/for-2.jpg);
}

.for__item3 {
  background-image: url(./img/for-3.jpg);
}

.for__item4 {
  background-image: url(./img/for-4.jpg);
}

.for__item5 {
  background-image: url(./img/for-5.jpg);
}

/*Специальные предложения*/
.product-box {
  margin-top: 64px;
}

.product-box__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 32px;
}

.product-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
}

.product {
  width: 378px;
}

.product__img {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 9px;
}

.product__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888;
  margin-bottom: 12px;
}

.product__box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__price_strikeout {
  color: #888;
  text-decoration-line: line-through;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.product__discount {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.link-more {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  display: block;
  margin: 31px 0 64px;
  text-decoration: underline;
}

.footer {
  background-color: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* .footer__logo{
    margin-bottom: 99px;
} */
.footer__content {
  width: 792px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 129px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  margin-bottom: 12px;
}

.footer__link {
  color: #888;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer__link_social {
  display: inline;
  text-decoration: none;
}

.form {
  width: 260px;
}

.form__title {
  font-size: 12px;
  color: #000;
  margin-bottom: 16px;
}

.form__email {
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  font-size: 12px;
  color: #C4C4C4;
  padding: 12px 17px;
  width: 100%;
  margin-bottom: 8px;
  outline: none;
}

.form__email::-webkit-input-placeholder {
  color: #C4C4C4;
}

.form__email::-moz-placeholder {
  color: #C4C4C4;
}

.form__email:-ms-input-placeholder {
  color: #C4C4C4;
}

.form__email::-ms-input-placeholder {
  color: #C4C4C4;
}

.form__email::placeholder {
  color: #C4C4C4;
}

.form__btn {
  background: rgba(222, 215, 215, 0.4117647059);
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 12px;
  font-size: 12px;
  color: #000;
}

.form__btn:hover {
  background: #000;
  color: #fff;
}

.cart-page {
  background-image: url(./img/cart-page.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 64px;
}
.cart-page__title {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  padding: 127px 0;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__content {
  grid-column: 1/9;
}
.cart__head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 27px 14px 3px;
}
.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 32px;
  border-top: 1px solid #CACDD8;
}
.cart__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.cart__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  color: #000;
  max-width: 276px;
}
.cart__name {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cart__subtitle {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.cart__link {
  color: #000;
}
.cart__link:hover {
  text-decoration: none;
  color: #888;
}
.cart__count {
  width: 71px;
  height: 51px;
  text-align: center;
  border-radius: 6px;
  background: #F7F6F6;
  border: 1px solid #F7F6F6;
}
.cart__button-box {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.cart__btn {
  padding: 10px 33px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
}
.cart__form {
  grid-column: 9/13;
  padding: 42px 30px;
  background-color: #F7F6F6;
  border-radius: 20px;
}
.cart__form-title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart__form-list {
  margin-top: 40px;
}
.cart__form-item {
  background-color: #F7F6F6;
  width: 100%;
  border: none;
  border-bottom: 2px solid #CACDD8;
  margin: 20px 0;
  outline: none;
}
.cart__form-item::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-item::-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-item:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-item::-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-item::placeholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-result {
  margin-top: 44px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 18px;
}
.cart__form-btn {
  border-radius: 20px;
  border: 1px solid #040404;
  padding: 10px;
  width: 100%;
  background-color: #F7F6F6;
}

.catalog-page {
  background-image: url(./img/catalog-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 64px;
}

.catalog-page__title {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  padding: 127px 0;
}

.product-box__nav {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.breadcrumbs__link::after {
  content: "/";
  padding: 0 10px;
}

.breadcrumbs__link:hover {
  color: #888;
}

.filters-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.filter-box__filter {
  position: relative;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  line-height: normal;
  outline: none;
  background: none;
  padding: 10px 0;
}

.filter-btn {
  border: 1px solid #c4c4c4;
  padding-left: 23px;
  padding-right: 54px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='9' viewBox='0 0 18 9' fill='none'%3E%3Cpath d='M8.66028 8.25L2.36094e-05 -1.63133e-06L17.3205 -1.17124e-07L8.66028 8.25Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
}

.filter-form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  min-width: 526px;
}

.filter-form__box {
  background: #fff;
  -webkit-box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
          box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}

.filter-form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.filter-form__items {
  border: none;
}

.filter-form__items_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.filter-form__item-title {
  margin-bottom: 14px;
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-form__item {
  position: relative;
}

.filter-form__input {
  position: absolute;
  opacity: 0;
  /*   pointer-events: none; */
}

.filter-form__label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.filter-form__label_padding {
  padding-left: 29px;
}

.filter-form__label::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter-form__label_standart::before {
  border: 1px solid #888;
}

.filter-form__label_radio::before {
  border-radius: 50%;
}

.filter-form__input:checked + .filter-form__label::before {
  border: 1px solid #000;
}

.filter-form__input:checked + .filter-form__label::after {
  content: "";
  width: 4px;
  height: 5px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 6px;
  top: 50%;
  -webkit-transform: translateY(-70%) rotate(45deg);
          transform: translateY(-70%) rotate(45deg);
}

.filter-form__subtitle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-form__range {
  position: relative;
  width: 100%;
}

.filter-form__range-track {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.filter-form__range-thumb {
  position: absolute;
  width: 100%;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-form__range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

.filter-form__items_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-form__item-title_empty {
  margin-bottom: 29px;
}

.filter-form__checkbox_white::before {
  background: #fff;
}

.filter-form__checkbox_black::before {
  background: #000;
  border: 1px solid #000;
}

.filter-form__checkbox_grey::before {
  background: #737373;
  border: 1px solid #737373;
}

.filter-form__checkbox_red::before {
  background: #FF0000;
  border: 1px solid #FF0000;
}

.filter-form__checkbox_orange::before {
  background: #FF7A41;
  border: 1px solid #FF7A41;
}

.filter-form__checkbox_yellow::before {
  background: #F2CB01;
  border: 1px solid #F2CB01;
}

.filter-form__checkbox_green::before {
  background: #00BF2A;
  border: 1px solid #00BF2A;
}

.filter-form__checkbox_turquoise::before {
  background: #1CCC97;
  border: 1px solid #1CCC97;
}

.filter-form__checkbox_lightblue::before {
  background: #009FE3;
  border: 1px solid #009FE3;
}

.filter-form__checkbox_darktblue::before {
  background: #000AF8;
  border: 1px solid #000AF8;
}

.filter-form__checkbox_violet::before {
  background: #6710D6;
  border: 1px solid #6710D6;
}

.filter-form__checkbox_purple::before {
  background: #9D0DB5;
  border: 1px solid #9D0DB5;
}

.filter-form__checkbox_lilac::before {
  background: #D89AFF;
  border: 1px solid #D89AFF;
}

.filter-form__checkbox_pink::before {
  background: #FF65A6;
  border: 1px solid #FF65A6;
}

.filter-form__input:checked + .filter-form__checkbox_violet::after,
.filter-form__input:checked + .filter-form__checkbox_purple::after,
.filter-form__input:checked + .filter-form__checkbox_black::after,
.filter-form__input:checked + .filter-form__checkbox_grey::after,
.filter-form__input:checked + .filter-form__checkbox_darktblue::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.filter-form__btn {
  margin-top: 98px;
  border: 1px solid #040404;
  width: 100%;
  padding: 10px 0;
  background: #fff;
}/*# sourceMappingURL=style.css.map */